<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row">
          <div class="form-group">
            <mat-form-field appearance="outline">
            <mat-label>Opis wydatku</mat-label>
            <input
              class="form-control"
              formControlName="description"
              id="name"
              matInput
              type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>Ile</mat-label>
              <input
              class="form-control"
              formControlName="amount"
              id="amount"
              matInput
              type="text">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Domyślna waluta</mat-label>
              <mat-select formControlName="currency">
                <mat-option *ngFor="let currentCurrency of currencies" [value]="currentCurrency">
                  {{currentCurrency}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nazwa użytkownika</mat-label>
              <input [matAutocomplete]="auto"
                     formControlName="userName"
                     matInput
                     placeholder="Nazwa użytkownika"
                     type="text"
                     value="">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of users | async" [value]="user?.id">
                  {{user?.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input (click)="picker.open()" [matDatepicker]="picker" formControlName="date" matInput>
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Kategoria</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories | async" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-slider discrete showTickMarks>
              <input #slider (change)="updateSliderInput()" [value]="defaultSplit" matSliderThumb max="100" min="0"
                     step="1">
            </mat-slider>
            <mat-form-field>
              <input #sliderInput (change)="updateSlider()" [value]="defaultSplit" formControlName="split" matInput
                     max="100" min="0"
                     placeholder="Podział" type="number">
              <mat-icon matSuffix>percent</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-xs-12">
            <button
              class="btn btn-success"
              type="submit">Submit
            </button>
            <button
              (click)="onCancel()"
              class="btn btn-danger" type="button">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
