<div class="flex">
  <div class="your-groups">Twoje grupy to:</div>
  <div class="add-group" routerLink="/group/add">Dodaj
    <mat-icon class="add-group-icon">group_add</mat-icon>
  </div>
</div>
<div class="sidenav">
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a (click)="navigate(1)" class="sidenav-nav-link">
        <mat-icon class="icon">groups</mat-icon>
        <span class="sidenav-link-text pointer">pierwsza</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a (click)="navigate(2)" class="sidenav-nav-link">
        <mat-icon class="icon">groups</mat-icon>
        <span class="sidenav-link-text pointer">druga</span>
      </a>
    </li>
  </ul>
</div>