<div mat-dialog-title>Waluta
  <mat-icon (click)="close()" class="float-end mt-4">close</mat-icon>
</div>
<div mat-dialog-content>
  <mat-selection-list #payer [multiple]="false">
    @for (currency of data.currencies;track currency) {
      <mat-list-option
        [value]="currency"
        [selected]="currency===data.defaultCurrency">
        {{ currency }}
      </mat-list-option>
    }
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button (click)="ok(payer._value)" mat-button>OK</button>
  <button (click)="close()" cdkFocusInitial mat-button>Cancel</button>
</div>