<div mat-dialog-title>Waluta
  <mat-icon (click)="close()" class="float-end mt-4">close</mat-icon>
</div>
<div mat-dialog-content>
  <mat-selection-list #currency (selectionChange)="ok($event.options[0].value)" [multiple]="false">
    @for (currency of data.currencies; track currency) {
      <mat-list-option
        [value]="currency"
        [selected]="currency===data.defaultCurrency">
        {{ currency }}
      </mat-list-option>
    }
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button (click)="ok(currency.selectedOptions.selected[0].value)" mat-button>OK</button>
  <button (click)="close()" cdkFocusInitial mat-button>Cancel</button>
</div>