<table mat-table [dataSource]="categories" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Nazwa kategorii</th>
    <td *matCellDef="let category" mat-cell>
      {{ category.name }}
      @if (category.categoryIconName) {
        <mat-icon>{{ category.categoryIconName }}</mat-icon>&nbsp;
      }
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell> Akcja</th>
    <td *matCellDef="let category" mat-cell>
      <mat-icon (click)="editCategory(category)" class="pointer">edit</mat-icon>&nbsp;
      <mat-icon (click)="deleteCategory(category)" class="pointer">delete</mat-icon>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
