<table mat-table [dataSource]="allUsers" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Nazwa użytkownika</th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.mail}} </td>
  </ng-container>
  <ng-container matColumnDef="password">
    <th *matHeaderCellDef mat-header-cell> Hasło</th>
    <td mat-cell *matCellDef="let user"> {{user.password}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell> Akcje</th>
    <td mat-cell *matCellDef="let user">
      <mat-icon (click)="editUser(user.id)" class="pointer">edit</mat-icon>&nbsp;
      <mat-icon (click)="deleteUser(user)" class="pointer">delete</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
