<table [dataSource]="allGroups" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Group name</th>
    <td *matCellDef="let group" mat-cell routerLink="/expense/add/{{group.id}}">
      <span class="pointer">{{group.name}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="defaultCurrency">
    <th *matHeaderCellDef mat-header-cell> Default currency</th>
    <td *matCellDef="let group" mat-cell> {{group.defaultCurrency}} </td>
  </ng-container>
  <ng-container matColumnDef="users">
    <th *matHeaderCellDef mat-header-cell> users</th>
    <td *matCellDef="let group" mat-cell>
    <span *ngFor="let user of group.users, let isLast = last">
      <span matTooltip="{{user.mail}}">{{user.name}}{{isLast ? '' : ', '}}</span>
    </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell> Actions</th>
    <td *matCellDef="let group" mat-cell>
      <mat-icon (click)="editGroup(group)" class="pointer" matTooltip="Edytuj grupę">edit</mat-icon>&nbsp;
      <mat-icon (click)="deleteGroup(group)" class="pointer" matTooltip="Skasuj grupę">delete</mat-icon>
      <mat-icon (click)="addExpense(group.id)" class="pointer" matTooltip="Dodaj wydatek w tej grupie">add</mat-icon>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
