<table [dataSource]="allGroups" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Category name</th>
    <td *matCellDef="let group" mat-cell> {{group.name}} </td>
  </ng-container>
  <ng-container matColumnDef="users">
    <th *matHeaderCellDef mat-header-cell> users</th>
    <td *matCellDef="let group" mat-cell> {{group.userNames}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell> Actions</th>
    <td *matCellDef="let group" mat-cell>
      <mat-icon (click)="editGroup(group)">edit</mat-icon>&nbsp;
      <mat-icon (click)="deleteGroup(group)">delete</mat-icon>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
