@if (!!currentUser) {
  <button mat-raised-button [matMenuTriggerFor]="menu">

    <img ngxGravatar [size]="20" [fallback]="'identicon'" [email]="currentUser.mail" alt="avatar" class="avatar">
    {{ currentUser.name }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/user/details/{{currentUser.id}}">Profil użytkownika</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
} @else {
  <button mat-raised-button routerLink="/login">Login</button>
}