@import "../../app.component";

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
}

.content {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 20px;
}

.logo {
  vertical-align: baseline !important;
  grid-row: 1/2;
  grid-column: 1/2;
}

header {
  grid-column: 2/3;
  grid-row: 1/2;
}

footer {
}

.sidebar {
  background: #263238;
  grid-row: 2/3;
  grid-column: 1/2;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.logo-font {
  font-family: "Arial Black", cursive;
  font-size: 26px;
  padding-right: 10px;
  vertical-align: middle;
}
