@import "../../app.component";

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas: "logo header" "sidebar content" "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
}

.content {
  grid-area: content;
  padding: 20px;
}

.logo {
  vertical-align: baseline !important;
  grid-area: logo;
}

header {
  grid-area: header;
}

footer {
}

.sidebar {
  background: #263238;
  grid-area: sidebar;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.logo-font {
  font-family: "Arial Black";
  font-size: 26px;
  padding-right: 10px;
  vertical-align: middle;
}
