<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nazwa kategorii</mat-label>
              <input class="form-control"
                     formControlName="name"
                     id="name"
                     matInput
                     type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ikonka</mat-label>

              <mat-icon (click)="pickIcon()" matPrefix>${{categoryIconName}}</mat-icon>
              <input class="form-control"
                     formControlName="categoryIconName"
                     id="categoryIconName"
                     matInput
                     type="text">
            </mat-form-field>
          </div>
          <div class="col-xs-12">
            <button [disabled]="this.form.invalid" color="primary" mat-raised-button type="submit">Submit</button>
            <button (click)="onCancel()" color="warn" mat-raised-button type="button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
