<div mat-dialog-title>Dzielenie wydatku
  <mat-icon (click)="close()" class="float-end mt-4">close</mat-icon>
</div>
<div mat-dialog-content>
  <div>
    <form [formGroup]="numberForm">
      <mat-selection-list (selectionChange)="onChangeParticipant($event)" role="list">
        @for (user of data.users; track user) {
          <mat-list-option togglePosition="before" [selected]="true" role="listitem" [value]="user">
            {{ user.name }} płaci
            <input formControlName="{{getUserNameForm(user.id)}}" placeholder="Ile %" type="number" min="0" max="100"
                   value="" (click)="doNothing($event)">
          </mat-list-option>
        }
      </mat-selection-list>
    </form>
    <p [class]="amountValid ? 'text-ok' : 'text-nok'">Sum: {{ getSum() }}</p>
    <div mat-dialog-actions>
      <button (click)="ok()" mat-button>OK</button>
      <button (click)="close()" cdkFocusInitial mat-button>Cancel</button>
    </div>
  </div>
</div>