<table [dataSource]="expenses" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Expense description</th>
        <td *matCellDef="let expense" mat-cell> {{expense.description}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell> Expense amount</th>
        <td *matCellDef="let expense" mat-cell> {{expense.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="currency">
        <th *matHeaderCellDef mat-header-cell> Expense currency</th>
        <td *matCellDef="let expense" mat-cell> {{expense.currency}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell> Expense date</th>
        <td *matCellDef="let expense" mat-cell> {{expense.date | date:'medium'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Actions</th>
        <td *matCellDef="let expense" mat-cell>
            <mat-icon (click)="editExpense(expense)" class="pointer">edit</mat-icon>&nbsp;
            <mat-icon (click)="deleteExpense(expense)" class="pointer">delete</mat-icon>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
