.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 200px;
}

.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.category-name {
  width: 130px;
  max-width: 130px;
}

.category:hover {
  background-color: #f5f5f5;
}

.category-icon, .subcategory-icon {
  font-size: 2rem;
  padding-top: 5px;
}

.subcategories {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}