<h2 mat-dialog-title>Rozliczenie dla grupy {{ data.group.groupName }}</h2>
<mat-dialog-content>
  @if (!data.debts || calculateDebts(data.debts)) {
    <div>
      @for (debt of data.debts; track debt) {
        <div>
          <div><b matTooltip="{{debt.from.mail}}">{{ debt.from.name }}</b>
            dostaje od {{ debt.amount }}
            <mat-icon class="smaller">arrow_left</mat-icon>
            <b matTooltip="{{debt.to.mail}}">{{ debt.to.name }}</b></div>
        </div>
      }
    </div>
  } @else {
    <div>
      Nie ma żadnych wydatków lub wszystko rozliczone
    </div>
  }

</mat-dialog-content>
<div mat-dialog-actions>
  <button (click)="closeDialog()" cdkFocusInitial mat-button>Zamknij</button>
</div>
