.mat-mdc-dialog-actions {
  justify-content: center;
}

.mat-dialog-override {
  mat-dialog-container {
    display: flex;
    flex-direction: column;

    mat-dialog-actions {
      margin-top: auto;
    }
  }
}

.smaller {
  transform: scale(0.8) translateY(9px);
}
