<h2 mat-dialog-title>Rozliczenie dla grupy {{ data.group.groupName }}</h2>
<mat-dialog-content>
  @if (Object.keys(this.data.debts).length > 0) {
    <div>
      @for (settlement of settlement | keyvalue; track settlement.value) {
        <p> {{ settlement.key }}
          @if (settlement.key !== 'PLN') {
            <mat-checkbox (change)="calculateExchange($event.checked)">przelicz do PLN</mat-checkbox>
          }
        </p>
        @for (debt of settlement.value; track debt) {
          <div>
            <b matTooltip="{{debt.from.mail}}">{{ debt.from.name }}</b>
            dostaje {{ debt.amount }} {{ settlement.key }}
            <mat-icon class="smaller">arrow_left</mat-icon>
            <b matTooltip="{{debt.to.mail}}">{{ debt.to.name }}</b>
          </div>
        }
      }
    </div>
  } @else {
    <div>
      Nie ma żadnych wydatków lub wszystko rozliczone
    </div>
  }

</mat-dialog-content>
<div mat-dialog-actions>
  <button (click)="closeDialog()" cdkFocusInitial mat-button>Zamknij</button>
</div>
