<h1>{{ (group$ | async)?.groupName }}</h1>
<div class="button-container">
  <button (click)="editExpense()" color="primary" mat-raised-button>Dodaj nowy wydatek</button>
  <button (click)="settle()" color="primary" mat-raised-button>Rozlicz wydatki</button>
</div>
@for (expense of expenses | keyvalue: reverseKeyOrder; track expense.key) {
  <div>
    <table class="table">
      <thead>
      <tr class="grey">
        <th>Data: {{ expense.key | date:'shortDate':'':'pl' }}
      </tr>
      </thead>
      <tbody>
        @for (ex of expense.value; track ex) {
          <tr style="border: 1px solid black" (click)="editExpense(ex.id!)">
            <td><b>{{ ex.description }}</b></td>
            @for (debt of ex.debt; track debt) {
              <td>
                {{ debt.from.name }} → {{ debt.to.name }} = {{ debt.amount }} {{ debt.currency }}
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}

