<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="row">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label> Nazwa / login</mat-label>
              <input
                class="form-control"
                formControlName="userName"
                id="userName"
                matInput
                type="text">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label> email</mat-label>
              <input
                class="form-control"
                formControlName="email"
                id="email"
                matInput
                type="email">
            </mat-form-field>
          </div>
          @if (changePassword) {
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Hasło</mat-label>
                <input
                  class="form-control"
                  formControlName="password"
                  id="password"
                  matInput
                  type="password">
              </mat-form-field>
            </div>
          }
          <div class="col-xs-12">
            <button [disabled]="this.userForm.invalid"
                    mat-raised-button
                    type="submit">Nowe hasło
            </button>
            <button (click)="onCancel()"
                    mat-raised-button
                    type="button">Anuluj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
