<div mat-dialog-title>Dzielenie wydatku
  <mat-icon (click)="close()" class="float-end mt-4">close</mat-icon>
</div>
<div mat-dialog-content>
  <div *ngIf="data.users.length == 2; else moreUsers">
    <form [formGroup]="numberForm">
      <mat-selection-list #splitForm [multiple]="false" formControlName="splitForTwo">
        <mat-list-option selected value="equal">
          Po równo ({{ this.data.amount / 2 }} / {{ this.data.amount / 2 }})
        </mat-list-option>
        @for (user of data.users;track user) {
          <mat-list-option [value]="user">
            {{ user.name }} płaci za wszystko
          </mat-list-option>

        }
      </mat-selection-list>
    </form>
  </div>
  <ng-template #moreUsers>
    <form [formGroup]="numberForm">
      <mat-selection-list (selectionChange)="onChangeParticipant($event)" role="list">
        @for (user of data.users;track user) {
          <mat-list-option togglePosition="before" [selected]="true" role="listitem" [value]="user">
            {{ user.name }} płaci
            <input formControlName="{{getUserNameForm(user.id)}}" placeholder="Ile %" type="number" min="0" max="100"
                   value="">
          </mat-list-option>
        }
      </mat-selection-list>
    </form>
    <p>Sum: {{ getSum() }}</p>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button (click)="ok(splitForm)" mat-button>OK</button>
  <button (click)="close()" cdkFocusInitial mat-button>Cancel</button>
</div>