<div class="flex">
  <div class="your-groups">Twoje grupy:</div>
  <div class="add-group" routerLink="/group/add">Nowa
    <mat-icon class="add-group-icon">group_add</mat-icon>
  </div>
</div>
<div class="sidenav">
  <ul class="sidenav-nav">
    @for (group of allGroups; track group) {
      <li class="sidenav-nav-item">
        <a [routerLink]="['/group/summary/', group.id]" class="sidenav-nav-link">
          <mat-icon class="icon">{{ group.groupIconName ? group.groupIconName : "groups" }}</mat-icon>
          <span class="sidenav-link-text pointer">{{ group.groupName }}</span>
        </a>
      </li>
    }
  </ul>
</div>