<div class="container">
  <div class="text-input">
    <mat-form-field appearance="outline">
      <input #input
             (keyup)="submit(input)"
             matInput
             placeholder="Wpisz nazwę (eng)"
             type="text">
    </mat-form-field>
  </div>
  <mat-dialog-content>
    @if (icons.length > 0) {
      <div class="row">
        @for (iconName of icons; track iconName) {
          <div class="col-xl-1 col-lg-1 col-md-1 col-1 h1 text-center">
            <i (click)="selectIcon(iconName)" class="material-icons h1" matTooltip="{{iconName}}">{{ iconName }}</i>
          </div>
        }
      </div>
    } @else {
      <h1 class="text-center py-3">Nie ma takiej.</h1>
    }
  </mat-dialog-content>
</div>
