<div class="container">
  <div class="row">
    <div class="col-7 justify-content-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:30vw">
              <mat-label>Nazwa użytkownika</mat-label>
              <input class="form-control"
                     formControlName="login"
                     id="login"
                     matInput
                     type="text">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:30vw">
              <mat-label>Hasło</mat-label>
              <input
                class="form-control"
                formControlName="password"
                id="password"
                matInput
                type="password">
            </mat-form-field>
          </div>
          <div class="button-container">
            <button class="submit-button" color="primary" mat-raised-button type="submit">Login</button>
            <button class="wider-button" color="primary" mat-raised-button routerLink="/user/add">Zarejestruj</button>
            <button (click)="forgotPass()" class="wider-button" color="primary" mat-raised-button>Zapomniałem hasła
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div data-auto_prompt="false"
       data-client_id="863232643048-h1s6gi24rf0fro64v0ktm05iva0ja341.apps.googleusercontent.com"
       data-context="signin"
       data-login_uri="http://localhost/login"
       data-ux_mode="popup"
       id="g_id_onload">
  </div>

  <div class="g_id_signin"
       data-logo_alignment="left"
       data-shape="pill"
       data-size="medium"
       data-text="signin_with"
       data-theme="outline"
       data-type="standard">
  </div>
</div>
