<div class="container">
  <div class="row">
    <div class="col-7 justify-content-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input class="form-control"
                     formControlName="login"
                     id="login"
                     matInput
                     type="text">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                class="form-control"
                formControlName="password"
                id="password"
                matInput
                type="password">
            </mat-form-field>
          </div>
          <div class="col-9">
            <div class="d-flex justify-content-around">
              <button color="primary" mat-raised-button type="submit">Login</button>
              <button color="primary" mat-raised-button routerLink="/user/add">Register</button>
              <button (click)="forgotPass()" color="primary" mat-raised-button>Forgot Password</button>
              <button color="warn" mat-raised-button type="reset">Clear</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
