<div *ngIf="isUserInGroup && !noResults; else notAllowed" class="row">
  <div class="col-6">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nazwa grupy</mat-label>
              <input
                      formControlName="name"
                      id="name"
                      matInput
                      type="text">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Domyślna waluta</mat-label>
              <mat-select formControlName="defaultCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency">
                  {{currency}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6" formArrayName="users">
          <div
            *ngFor="let userCtrl of usersControls; let i = index"
            [formGroupName]="i"
            class="row"
            style="margin-top: 10px;">
            <div class="col-xs-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Name</mat-label>
                <input [matAutocomplete]="auto"
                       aria-label="Name"
                       formControlName="name"
                       matInput
                       placeholder="Type user name"
                       type="text">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event, i)">
                  <mat-option *ngFor="let user of users$ | async" [value]="user">
                    {{user?.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-xs-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>User email</mat-label>
                    <input [value]="mail[i]" formControlName="mail" matInput placeholder="email" type="email">
                </mat-form-field>
            </div>
            <div class="col-xs-2">
              <button
                (click)="onDeleteUser(i)"
                class="btn btn-danger"
                type="button">X
              </button>
            </div>

          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <button (click)="onAddUser()" class="btn btn-success" type="button">Add user</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-around">
          <button [disabled]="groupForm.invalid" color="primary" mat-raised-button type="submit">Save</button>
          <button (click)="onCancel()" color="warning" mat-raised-button type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #notAllowed>
  <div *ngIf="!noResults" class="container-fluid">
    <div class="row">
      <div class="col h3 d-flex align-items-center justify-content-center">
        Nie możesz edytować tej grupy. <u routerLink="/group/list">Wybierz inną grupę</u>
      </div>
    </div>
  </div>
</ng-template>
<ng-container *ngIf="noResults">
  <div class="container-fluid">
    <div class="row">
      <div class="col h3 d-flex align-items-center justify-content-center">
        <p>Nie ma wyników dla powyższego zapytania. </p>
        <p><u routerLink="/group/list">Wybierz inną grupę</u></p>
      </div>
    </div>
  </div>
</ng-container>
